<h1>Добавить курс</h1>
<div class="row">
    <form class="col s12" method="POST" action="/addCourse">
        <div class="input-field">
            <input placeholder="Название курса" id="first_name" type="text" name="title" class="validate" required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <div class="input-field">
            <input placeholder="Цена курса" id="last_name" type="text" name="price" class="validate" required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <div class="input-field">
            <input placeholder="Путь к картинке" id="last_name" type="text" name="img" class="validate" required>
            <span class="helper-text" data-error="Укажите значение" data-success="right"></span>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Добавить</button>
    </form>
</div>