<div class="course">
    <img src="{{course.img}}" alt="">
    <div class="info">
        <h2>Курс по {{course.title}}</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam numquam cumque magnam, eligendi autem
            repellat iste dolore maiores! Corrupti repudiandae aperiam ipsam mollitia possimus eos asperiores unde
            dolores, quia fugiat laborum ab optio, quibusdam facere, harum repellendus veniam quas. Eveniet laborum
            architecto provident accusantium, id dolorum voluptatum. Odio, provident. Dicta?</p>
        <b class="price">{{course.price}}</b>
    </div>
</div>