.navigation {
  padding: 0 2rem;
}
* {
  box-sizing: border-box;
}
.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editForm {
  margin-bottom: 15px;
}

.alert {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, 0.3);
  color: red;
}

.course {
  padding: 0px 15px;
}

.avatar {
  max-width: 500px;
  height: auto;
}

.price {
  font-size: 20px;
}
